
    <tr>
        <td width="80">$time</td>
        <td>$conditions</td>
        <td width="80">$temperature</td>
        <td>$pressure</td>
        <td>$humidity</td>
        <td width="70">$wind</td>
    </tr>